.activities {
  .actives {
    .activity {
      padding: 0 10%;
      @media (max-width:1190px) {
        padding: 20px;
    }
      .left{
        width: 100%;
        margin-top: 40px;
        @media (max-width:790px) {
            flex-direction: column;
        }
        .imh{
            width: 45%;
            @media (max-width:790px) {
                width: 100%;
            }
        img{
            width: 100%;
        }}
        .text{
            width: 45%;
            padding: 10px;
            @media (max-width:790px) {
                width: 100%;
                text-align: center;
            }

        }
      }
    }
  }
}
